
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bfddfc;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease;
  }
  
  #loader {
    border: 12px solid #f3f3f3;
    border-top: 12px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  body{
      background: #fff;
      overflow-x: hidden;
    }
    #equa {
      position: absolute;
      padding-top: 78px;        
      top: 0;
      left: 0;
      outline: none;
      z-index: 2;
    }
    .text-theme{
      color: #4D3C22 !important;
    }
    .bg-theme-light {
      background-image: linear-gradient(
        310deg,
        hsl(35, 38.2%, 22.4%),
        hsl(35, 38.2%, 52.4%)
      );
    }
    .bg-theme-dark {
      background-color: #4D3C23 !important;
    }
    .navbar-light{
      color: #f7c171 !important;
    }
    .nav-item .nav-link {
      color: #4D3C23;
    }
    .main_b {
      padding-top: 100px;
    }
  
    .card-img-overlay{
      border-radius: 0;
    }  
  .card{
      border: none;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
     overflow:hidden;
     border-radius:0px;
     min-height:450px;
       box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    
     @media (max-width: 768px) {
      min-height:350px;
    }
    
    @media (max-width: 420px) {
      min-height:300px;
    }
    
     &.card-has-bg{
     transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
      background-size:260%;
      background-repeat:no-repeat;
      background-position: center center;
    
      &:hover {
        transform: scale(0.98);
         box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
        background-size:260%;
         transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    
        .card-img-overlay {
          transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
          background: none !important;
          color: #4D3C22;
         }
      }
    }
     .card-footer{
      background: none;
       border-top: none;
        .media{
         img{
           border:solid 3px rgba(255,255,255,0.3);
         }
       }
     }
     .card-meta{color:#26BD75}
     .card-body{ 
       transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    }
     &:hover {
       .card-body{
         margin-top:30px;
         transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
       }
     cursor: pointer;
     transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }
     .card-img-overlay {
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
     background: rgb(35,79,109);
    background: linear-gradient(0deg, rgba(35,79,109,0.3785889355742297) 0%, rgba(69,95,113,1) 100%);
    }
    }
    @media (max-width: 767px){
      
    }
  
    .display-2 {
      font-family: 'Poppins', sans-serif;
      font-size: 2.2rem;
      font-style: normal;
      line-height: 1.2;
      font-weight: 700;
    }
  
    .display-4 {
      font-family: 'Poppins', sans-serif;
      font-size: 1rem;
    }
  
    .display-3 {
      font-family: 'Poppins', sans-serif;
      font-size: 4rem;
      font-style: normal;
      line-height: 1.2;
      font-weight: 700;
    }
  
    .wrapper{
      position: relative;
      border-top: 3px solid #000;
      border-right: 3px solid #000;
      border-left: 3px solid #000;
      padding: 2.5rem 2.5rem;
      color: #000;
    }
  
    .wrapper:before{
      content: "";
      background: #000;
      position: absolute;
      bottom: 0;
      width: 66%;
      height: 3px;
      right: 0;
    }
    .wrapper:after{
      content: "";
      background: #000;
      position: absolute;
      bottom: 0;
      width: 10%;
      height: 3px;
      left: 0;
    }
    .wrapper img {
      position: absolute;
      left: 10%;
      bottom: -45px;
      width: 130px;
    }
    .navbar-brand {
      margin: 0 2rem;
    }
    .navbar {
      font-family: 'Poppins', sans-serif;
    }
    #sign {
      position: relative;
    }
    #sign2 {
      position: absolute;
      top: 20px;
    }